{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'appointments/css/appointments.css' %}">
{% endblock extra_css %}

{% block extra_js %}
    <script src="{% static 'bootstrap_datepicker_plus/js/datepicker-widget.js' %}"></script>
{% endblock %}

{% block content %}
<section class="container dark-bg">
    <div class="row justify-content-center">
        <div class="col-xs-12 col-sm-10 col-md-9 col-lg-8 form box">
            <h2 class="text-center">Appointment Bookings</h2>
            <div class="inner-box--grey">
                <form class="appointments-form" method="POST">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <button type="submit" value="Submit" class="btn form-btn">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock content %}


{% block postloadjs %}
{{ block.super }}
<script>

</script>
{% endblock postloadjs %}
