{% extends 'base.html' %}
{% load static %}


{% block content %}
<section class="container dark-bg">
    <div class="row justify-content-center">
        <div class="col-xs-12 col-sm-10 col-md-9 col-lg-8 form box">
            <h2 class="text-center">Appointment Details</h2>
            <div class="inner-box--grey">
                <ul>
                    <li><p>Name: <span>{{ appointment_details.name }}</span></p></li>
                    <li><p>Email: <span>{{ appointment_details.email }}</span></p></li>
                    <li><p>Message: <span>{{ appointment_details.message }}</span></p></li>
                    <li><p>Date: <span>{{ appointment_details.date_str }}</span></p></li>
                    <li><p>Time: <span>{{ appointment_details.time }}</span></p></li>
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
