{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" media="all" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.css">
    <link rel="stylesheet" media="all" href="{% static 'bootstrap_datepicker_plus/css/datepicker-widget.css' %}">
    <link rel="stylesheet" href="{% static 'appointments/css/appointments.css' %}">
{% endblock extra_css %}

{% block extra_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <script src="{% static 'bootstrap_datepicker_plus/js/datepicker-widget.js' %}"></script>
{% endblock %}

{% block content %}
<section class="container dark-bg">
    <div class="row justify-content-center">
        <div class="col-xs-12 col-sm-10 col-md-9 col-lg-8 form box">
            <h2 class="text-center">Update Appointment Details</h2>
            <div class="inner-box--grey">
                <form class="appointments-form" method="POST">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <button type="submit" value="Submit" class="btn form-btn">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock content %}


{% block postloadjs %}
{{ block.super }}
<script>

$(function(){

    let jsData = JSON.parse("{{ jsData | escapejs }}");
    let month = parseInt(jsData.month);
    let day = parseInt(jsData.day);
    let year = parseInt(jsData.year);
    let time = parseInt(jsData.time);
    let date = jsData.date;

    $('#datePicker').datetimepicker({
        format: 'DD/MM/YYYY',
        locale: 'en',
        // debug: true,
        widgetPositioning: {horizontal: 'left', vertical: 'top'},
    });

    $('#timePicker').datetimepicker({
        format: 'HH:mm',
        locale: 'en',
        stepping: 60,
        // debug: true,
        widgetPositioning: {horizontal: 'left', vertical: 'top'},
    });

    $('#datePicker input').val(date);
    $('#timePicker').data("DateTimePicker").defaultDate(new Date(year, month, day, time, 00));
});

</script>
{% endblock postloadjs %}