{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <!-- <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div> -->
{% endblock %}

{% block content %}
<section class="container dark-bg">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-11 col-md-10 col-lg-9 form box">
            <h2>Product Management</h2>
            <h3>Add a Product</h3>
            <form method="POST" action="{% url 'add_product' %}" enctype="multipart/form-data">
                <div class="inner-box--grey">
                    {% csrf_token %}
                    {{ form | crispy }}
                </div>
                <a class="btn form-btn" href="{% url 'products' %}">Cancel</a>
                <button class="btn form-btn" type="submit">Add Product</button>
            </form>
        </div>
    </div>
</section>
{% endblock %}
