{% extends "base.html" %}
{% load static %}

{% block page_navbar %}
<nav class="navbar navbar-expand-sm navbar-dark justify-content-center container">
    <ul class="navbar-nav">
        <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">All Products</a>
            <div class="dropdown-menu">
                <a class="nav-link dropdown-item" href="{% url 'products' %}?sort=price&direction=asc">By Price</a>
                <a class="nav-link dropdown-item" href="{% url 'products' %}?sort=rating&direction=desc">By Rating</a>
                <a class="nav-link dropdown-item" href="{% url 'products' %}?sort=category&direction=asc">By Category</a>
                <a class="nav-link dropdown-item" href="{% url 'products' %}">All Products</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'products' %}?category=individual_remedies">Remedies</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'products' %}?category=remedy_kits">Kits</a>
        </li>
    </ul>
</nav>
{% endblock page_navbar %}

{% block content %}
<section class="container dark-bg">
    <div class="row justify-content-center">
        <div class="col-11">
            <h1 class="product-title">Homeopathic Remedies & Kits</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-9 col-sm-11 product">
            <div class="row">
                {% for product in products %}
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                        <div class="card">
                            {% if product.image %}
                            <a href="{% url 'product_detail' product.id %}">
                                <img class="card-img img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                            </a>
                            {% else %}
                            <a href="{% url 'product_detail' product.id %}">
                                <img class="card-img img-fluid" src="{% static 'img/noimage.png' %}" alt="{{ product.name }}">
                            </a>
                            {% endif %}
                            <div class="card-body">
                                <p>{{ product.name }}</p>
                            </div>
                            <div class="card-footer">
                                <div class="row">
                                    <div class="col">
                                        <p class="product-price">${{ product.price }}</p>
                                        {% if product.rating %}
                                            <small class="product-rating"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                                        {% else %}
                                            <small class="product-rating">No Rating</small>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock content %}