{% extends "base.html" %}
{% load static %}
{% load basket_tools %}

{% block content %}
<section class="container dark-bg">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-11 col-lg-10 basket form box">
        <h2>Shopping Basket</h2>
        {% if basket_items %}
            <div class="inner-box--grey">
            <table>
                <thead>
                    <tr>
                        <th class="d-none d-sm-block" scope="col">Product</th>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Qty</th>
                        <th scope="col">Subtotal</th>
                    </tr>
                </thead>

                {% for item in basket_items %}
                    <tr>
                        <td class="d-none d-sm-block">
                        {% if item.product.image.url != False %}
                            <img src="{{ item.product.image.url }}" alt="{{ product.name }}">
                        {% else %}
                            <img src="{% static 'img/noimage.png' %}" alt="{{ product.name }}">
                        {% endif %}
                        </td>
                        <td>
                            <p>{{ item.product.name }}</p>
                            <p>Potency: {% if item.product.has_potency %}{{ item.potency|upper }}{% else %}N/A{% endif %}</p>
                            <p class="sku d-none d-md-block"><span>SKU: {{ item.product.sku|upper }}</span></p>
                        </td>
                        <td>
                            <p>£{{ item.product.price }}</p>
                        </td>
                        <td class="d-block d-md-none">
                            <p>{{ item.quantity }}</p>
                        </td>
                        <td class="d-none d-md-block item-quantity-form">
                            <form class="form update-form" method="POST" action="{% url 'adjust_basket' item.item_id %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="decrement-qty btn btn-sm custom-btn" 
                                                data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                <span>
                                                    <i class="fas fa-minus fa-sm"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <input class="form-control form-control-sm qty_input" type="number"
                                            name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                            data-item_id="{{ item.item_id }}"
                                            id="id_qty_{{ item.item_id }}">
                                        <div class="input-group-append">
                                            <button class="increment-qty btn btn-sm custom-btn"
                                                data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                <span>
                                                    <i class="fas fa-plus fa-sm"></i>
                                                </span>
                                            </button>
                                        </div>
                                        {% if item.product.has_potency %}
                                            <input type="hidden" name="product_potency" value="{{ item.potency }}">
                                        {% endif %}
                                    </div>
                                </div>
                            </form>
                            <a class="update-link text-info"><small>Update</small></a>
                            <a class="remove-item text-danger float-right" id="remove_{{ item.item_id }}" data-product_potency="{{ item.potency }}"><small>Remove</small></a>
                        </td>
                        <td>
                            <p>£{{ item.product.price | calc_subtotal:item.quantity }}</p>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            </div>
            <div class="summary">
                <p>Basket Total: <span>£{{ total|floatformat:2 }}</span></p>
                <p>Delivery: <span>£{{ delivery|floatformat:2 }}</span></p>
                <p>Grand Total: <span>£{{ grand_total|floatformat:2 }}</span></p>
            </div>
            <div>
                <a href="{% url 'products' %}" class="btn shopping-btn">
                    <i class="fas fa-chevron-left"></i>
                    <span>Keep Shopping</span>
                </a>
                <a href="{% url 'checkout' %}" class="btn shopping-btn">
                    <span>Secure Checkout</span>
                    <i class="fas fa-lock"></i>
                </a>
            </div>
            <div class="delivery-message">
            {% if free_delivery_delta > 0 %}
                <p class="text-danger">
                    Get free delivery by spending <strong>£{{ free_delivery_delta }}</strong> more!
                </p>
            {% endif %}
            </div>
        {% else %}
            <p>Your basket is empty.</p>
            <a href="{% url 'products' %}" class="btn shopping-btn">
                <i class="fas fa-chevron-left"></i>
                <span class="text-uppercase">Keep Shopping</span>
            </a>
        {% endif %}
        </div>
    </div>
</section>
{% endblock content %}

{% block postloadjs %}
{{ block.super }}

<script>

$(document).ready(function(){

    /**
     * Function that updates product quantity when update link is liked then returns to basket page.
     */
    $('.update-link').click(function(e) {
        let form = $(this).prev('.update-form');
        form.submit();
    });


    /**
    * Function that removes item from basket when remove link is clicked then reloads page.
    */
    $('.remove-item').click(function(e) {
        let csrfToken = "{{ csrf_token }}";
        let itemId = $(this).attr('id').split('remove_')[1];
        let potency = $(this).data('product_potency');
        let url = `/remove/${itemId}/`;
        let data = {'csrfmiddlewaretoken': csrfToken, 'product_potency': potency};
        $.post(url, data)
        .done(function() {
            location.reload();
        });
    });
});

</script>

{% endblock postloadjs %}
