{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="container dark-bg">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-11 col-md-10 col-lg-9">
        {% if basket_items %}
            <div class="basket">
                <table>
                    <thead>
                        <tr>
                            <th scope="col">Product Info</th>
                            <th scope="col">Product Name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Qty</th>
                            <th scope="col">Subtotal</th>
                        </tr>
                    </thead>

                    {% for item in basket_items %}
                        <tr>
                            <td>
                            {% if item.product.image.url != False %}
                                <img class="img-fluid rounded" src="{{ item.product.image.url }}" alt="{{ product.name }}">
                            {% else %}
                                <img class="img-fluid rounded" src="{% static 'img/noimage.png' %}" alt="{{ product.name }}">
                            {% endif %}
                            </td>
                            <td>
                                <p><strong>{{ item.product.name }}</strong></p>
                                <p><strong>Potency:</strong>{% if item.product.has_potency %}{{ item.potency|upper }}{% else %}N/A{% endif %}</p>
                                <p class="sku">SKU: {{ item.product.sku|upper }}</p>
                            </td>
                            <td>
                                <p>£{{ item.product.price }}</p>
                            </td>
                            <td>
                                <form class="form update-form" method="POST" action="">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <button class="decrement-qty btn btn-sm" 
                                                    data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                    <span>
                                                        <i class="fas fa-minus fa-sm"></i>
                                                    </span>
                                                </button>
                                            </div>
                                            <input class="form-control form-control-sm qty_input" type="number"
                                                name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                                data-item_id="{{ item.item_id }}"
                                                id="id_qty_{{ item.item_id }}">
                                            <div class="input-group-append">
                                                <button class="increment-qty btn btn-sm"
                                                    data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                    <span>
                                                        <i class="fas fa-plus fa-sm"></i>
                                                    </span>
                                                </button>
                                            </div>
                                            {% if item.product.has_sizes %}
                                                <input type="hidden" name="product_size" value="{{ item.size }}">
                                            {% endif %}
                                        </div>
                                    </div>
                                </form>
                                <a class="update-link text-info"><small>Update</small></a>
                                <a class="remove-item text-danger float-right" id="remove_{{ item.item_id }}" data-size="{{ item.size }}"><small>Remove</small></a>
                            </td>
                            <td>
                                <p>£{{ item.product.price }}</p>
                            </td>
                        </tr>
                    {% endfor %}
                    <tr class="basket-info">
                        <td colspan="5" class="text-right">
                            <p class="basket-total">Basket Total: <span>£{{ total|floatformat:2 }}</span></p>
                            <p class="basket-delivery">Delivery: <span>£{{ delivery|floatformat:2 }}</span></p>
                            <p class="basket-grand-total">Grand Total: <span>£{{ grand_total|floatformat:2 }}</span></p>
                            {% if free_delivery_delta > 0 %}
                                <p class="delivery-message text-danger">
                                    You could get free delivery by spending just <strong>£{{ free_delivery_delta }}</strong> more!
                                </p>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5">
                            <a href="{% url 'products' %}" class="btn btn-lg">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="text-uppercase">Keep Shopping</span>
                            </a>
                            <a href="" class="btn btn-lg">
                                <span class="text-uppercase">Secure Checkout</span>
                                <span class="icon">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        {% else %}
            <p>Your basket is empty.</p>
            <a href="{% url 'products' %}" class="btn btn-lg">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Keep Shopping</span>
            </a>
        {% endif %}
        </div>
    </div>
</section>
{% endblock content %}

{% block postloadjs %}
{{ block.super }}

<script>

const decrementQty = document.querySelector(".decrement-qty");
const incrementQty = document.querySelector(".increment-qty");


/**
* Function that decrements form input value when quantity minus button is clicked.
* If input value is < 1 minus button is temporarily disabled & value changed to 1.
*/
decrementQty.addEventListener("click", function(e){
    e.preventDefault();
    let itemId =  this.dataset.item_id;
    let idQty = document.getElementById(`id_qty_${itemId}`);
    let currentQuantity = parseInt(idQty.value);
    updatedQuantity = currentQuantity - 1;
    if (updatedQuantity < 1) {
        this.disabled = true;
        idQty.value = 1;
        this.disabled = false;
    } else {
        idQty.value = updatedQuantity;
    }
}, false);


/**
* Function that increments form input value when quantity plus button is clicked.
* If input value is > 99 plus button is temporarily disabled & value changed to 99.
*/
incrementQty.addEventListener("click", function(e){
    e.preventDefault();
    let itemId =  this.dataset.item_id;
    let idQty = document.getElementById(`id_qty_${itemId}`);
    let currentQuantity = parseInt(idQty.value);
    updatedQuantity = currentQuantity + 1;
    idQty.value = updatedQuantity;
    if (updatedQuantity > 99) {
        this.disabled = true;
        idQty.value = 99;
        this.disabled = false;
    } else {
        idQty.value = updatedQuantity;
    }
}, false);


// Polyfill for Internet Explorer 9+ and Safari
// Source: https://github.com/jserz/js_piece/blob/master/DOM/NonDocumentTypeChildNode/previousElementSibling/previousElementSibling.md
// (function (arr) {
//   arr.forEach(function (item) {
//     if (item.hasOwnProperty('previousElementSibling')) {
//       return;
//     }
//     Object.defineProperty(item, 'previousElementSibling', {
//       configurable: true,
//       enumerable: true,
//       get: function () {
//         let el = this;
//         while (el = el.previousSibling) {
//           if (el.nodeType === 1) {
//             return el;
//           }
//         }
//         return null;
//       },
//       set: undefined
//     });
//   });
// })([Element.prototype, CharacterData.prototype]);


const updateLink = document.querySelector(".update-link");

/*
* Function that gets form & submits data when update link is clicked
*/
updateLink.addEventListener("click", function() {
    // let form = this.previousElementSibling;
    let updateForm = document.querySelector(".update-form");
    // console.log(form);
    updateForm.submit();
}, false);


// Update quantity on click
// $('.update-link').click(function(e) {
//     var form = $(this).prev('.update-form');
//     form.submit();
// })


const removeItem = document.querySelector(".remove-item");

/*
* Function that removes item when remove link is clicked, sends data to server & relaods page
*/
removeItem.addEventListener("click", function() {
    let csrfToken = "{{ csrf_token }}";
    let itemId = this.getAttribute("id").split("_")[1];
    let size = this.dataset.size;
    let url = `/basket/remove/${itemId}`;
    let data = {'csrfmiddlewaretoken': csrfToken, 'size': size};
    $.post(url, data).done(function() {
        location.reload();
    });
}, false);

// Remove item and reload on click
// $('.remove-item').click(function(e) {
//     var csrfToken = "{{ csrf_token }}";
//     var itemId = $(this).attr('id').split('remove_')[1];
//     var size = $(this).data('size');
//     var url = `/bag/remove/${itemId}`;
//     var data = {'csrfmiddlewaretoken': csrfToken, 'size': size};

//     $.post(url, data)
//      .done(function() {
//          location.reload();
//      });
// })

</script>

{% endblock postloadjs %}
