{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock extra_css %}

{% block content %}
<section class="container dark-bg">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-11 col-md-10 col-lg-10 checkout box">
            <div class="row">
                <div class="overlay"></div>
                <div class="col-12 checkout-header">
                    <h2>Thank You</h2>
                    <p class="text-black">Your order information is below. A confirmation email will be sent to <strong>{{ order.email }}</strong>.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-7"></div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-7 text-right">
                    <a href="{% url 'products' %}?category=new_arrivals,deals,clearance" class="btn btn-black rounded-0 my-2">
                        <span class="icon mr-2">
                            <i class="fas fa-gifts"></i>
                        </span>
                        <span class="text-uppercase">Now check out the latest deals!</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
