{% extends "account/base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
<section class="container dark-bg">
    <div class="row justify-content-center">
        <div class="col-10 col-md-8 col-lg-8 form allauth-form-bg">
            <h1>{% trans "Set Password" %}</h1>

            <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
                {% csrf_token %}
                <div class="form-group col-12">
                {{ form|crispy }}
                </div>
                <div class="form-group col-12">
                    <input class="btn" type="submit" name="action" value="{% trans 'Set Password' %}"/>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}
