{% extends "account/base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<section class="container dark-bg">
    <div class="row justify-content-center">
        <div class="col-10 col-md-8 col-lg-8 form allauth-form-bg">
            <h1>{% trans "Sign Up" %}</h1>

            <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>{% endblocktrans %}</p>

            <form class="signup allauth-form" id="signup_form" method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}
                <div class="form-group col-12">
                {{ form|crispy }}
                </div>
                {% if redirect_field_value %}
                <div class="form-group col-12">
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                </div>
                {% endif %}
                <div class="form-group col-12">
                    <button class="btn" type="submit">{% trans "Sign Up" %} &raquo;</button>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}
