// basket.scss

// To install sass: npm install -g sass
// To convert checkout.scss into checkout.css: sass --watch static/scss/appointments.scss appointments/static/appointments/css/appointments.css

// @use "modules/variables" as v;
// @use "modules/functions" as f;
// @use "modules/mixins" as m;
// @use "modules/media_query_mixins" as q;


/* APPOINTMENTS-FORM */

.appointments-form > .control-group:nth-of-type(4) {
    margin-top: 20px;
}

.appointments-form > .control-group:nth-of-type(4),
.appointments-form > .control-group:nth-of-type(5) {
    margin-bottom: 15px;
}

.bootstrap-datetimepicker-widget,
.bootstrap-datetimepicker-widget.dropdown-menu  {
    background-color: #000;
    padding: 0;
    width: 60%;
}

.bootstrap-datetimepicker-widget.dropdown-menu.top::after {
	border-top: 6px solid #000;
}

.bootstrap-datetimepicker-widget table {
    thead tr:first-child th:hover {
        background: #333;
        transition: all 0.25s ease-in-out;
    }
    th {
        color: #ffcd37;
    }
    td {
        color: #76bb85;    
        padding: 0;
        transition: all 0.25s ease-in-out;
    }
}

.bootstrap-datetimepicker-widget table td.day:hover,
.bootstrap-datetimepicker-widget table td.hour:hover,
.bootstrap-datetimepicker-widget table td.minute:hover,
.bootstrap-datetimepicker-widget table td.second:hover {
	background: #333;
}

.bootstrap-datetimepicker-widget table td span:hover {
	background: #333;
}

.datepicker table tr td.day:not(.disabled, .weekend):hover,
.datepicker table tr td.focused {
  background: #323c2e;
  color: #ffcd37;
  cursor: pointer;
}

.datepicker table tr td.disabled,
.datepicker table tr td.weekend {
  color: #ce7470 !important;
}

.datepicker table tr td.new {
  color: #d1d4d7;
}

.bootstrap-datetimepicker-widget table td.today {
    color: #ffcd37;
    background-color: #333;
    border-color: #aaacae;
    &::before {
        border-bottom-color: #aaacae;
    }
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
	background-color: #555;
}

#datePicker > .input-group-addon > .input-group-text,
#timePicker > .input-group-addon > .input-group-text {
    background-color: #2b532a;
	transition: all 0.4s ease-in-out;
    &:hover {
        background-color: #ffcd37;
    }
}

.fa-calendar-check,
.fa-clock {
    color: #ffcd37;
	transition: all 0.25s ease-in-out;
}

#datePicker > .input-group-addon > .input-group-text:hover > .fa-calendar-check,
#timePicker > .input-group-addon > .input-group-text:hover > .fa-clock {
    color: #2b532a;
}

.glyphicon-chevron-up,
.glyphicon-chevron-down {
    color: #ffcd37;
}

/* APPOINTMENTS-FORM-END */
