// basket.scss

// To install sass: npm install -g sass
// To convert checkout.scss into checkout.css: sass --watch static/scss/appointments.scss appointments/static/appointments/css/appointments.css

// @use "modules/variables" as v;
@use "modules/functions" as f;
// @use "modules/mixins" as m;
@use "modules/media_query_mixins" as q;


/* APPOINTMENTS-FORM */

.appointments-form > .control-group:nth-of-type(4) {
    margin-top: 20px;
}

.appointments-form > .control-group:nth-of-type(4),
.appointments-form > .control-group:nth-of-type(5) {
    margin-bottom: 15px;
}

.bootstrap-datetimepicker-widget,
.bootstrap-datetimepicker-widget.dropdown-menu  {
    background-color: #000;
    padding: 0;
    width: 60%;
}

.bootstrap-datetimepicker-widget.dropdown-menu.top::after {
	border-top: 6px solid #000;
}

.bootstrap-datetimepicker-widget table {
    thead tr:first-child th:hover {
        background: #333;
        transition: all 0.25s ease-in-out;
    }
    th {
        color: #ffcd37;
    }
    td {
        color: #76bb85;    
        padding: 0;
        transition: all 0.25s ease-in-out;
    }
}

.bootstrap-datetimepicker-widget table td.day:hover,
.bootstrap-datetimepicker-widget table td.hour:hover,
.bootstrap-datetimepicker-widget table td.minute:hover,
.bootstrap-datetimepicker-widget table td.second:hover {
	background: #333;
}

.bootstrap-datetimepicker-widget table td span:hover {
	background: #333;
}

.datepicker table tr td.day:not(.disabled, .weekend):hover,
.datepicker table tr td.focused {
  background: #323c2e;
  color: #ffcd37;
  cursor: pointer;
}

.datepicker table tr td.disabled,
.datepicker table tr td.weekend {
  color: #ce7470 !important;
}

.datepicker table tr td.new {
  color: #d1d4d7;
}

.bootstrap-datetimepicker-widget table td.today {
    color: #ffcd37;
    background-color: #333;
    border-color: #aaacae;
    &::before {
        border-bottom-color: #aaacae;
    }
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
	background-color: #555;
}

#datePicker > .input-group-addon > .input-group-text,
#timePicker > .input-group-addon > .input-group-text {
    background-color: #2b532a;
	transition: all 0.4s ease-in-out;
    &:hover {
        background-color: #ffcd37;
    }
}

.fa-calendar-check,
.fa-clock {
    color: #ffcd37;
	transition: all 0.25s ease-in-out;
}

#datePicker > .input-group-addon > .input-group-text:hover > .fa-calendar-check,
#timePicker > .input-group-addon > .input-group-text:hover > .fa-clock {
    color: #2b532a;
}

.glyphicon-chevron-up,
.glyphicon-chevron-down {
    color: #ffcd37;
}

/* APPOINTMENTS-FORM-END */

/* APPOINTMENT-CALENDAR */

.calendar {
    background-color: rgba(0, 0, 0, 0.6);
    // width: 98%;
    margin: 0 auto;
    // font-size: 13px;
}

.calendar {
    // margin-top: f.rem-calc(59);
    margin: f.rem-calc(60) auto f.rem-calc(0);
    width: 100%;
}

@include q.respond-above(sm) {
    .calendar {
	    // margin-top: f.rem-calc(88);
	    margin: f.rem-calc(48) auto f.rem-calc(0);
    }
}

@include q.respond-above(md) {
    .calendar {
	    // margin-top: f.rem-calc(120);
	    margin: f.rem-calc(120) auto f.rem-calc(45);
        width: 97%;
    }
}

@include q.respond-above(lg) {
    .calendar {
	    // margin-top: f.rem-calc(136);
	    margin: f.rem-calc(136) auto f.rem-calc(61);
        width: 95%;
    }
}

.calendar tr, .calendar td {
  border: 2px solid black;
}

.calendar th {
	padding: 25px;
	text-align: center;
	// font-size: 25px;
}

.calendar td {
  width: 200px;
  height: 150px;
  padding: 20px 0px 0px 5px;
}

tbody > tr:nth-of-type(2), .calendar .appointment {
	background-color: rgba(0, 0, 0, 0.6);
}

.month {
//   font-size: 25px;
}

.date {
//   font-size: 16px;
  color: #76bb85;
}

.no-date {
    background-color: #222;
    border: #222 !important;;
}

.appointment .confirmed > a {
    color: #d9b034;
    transition: all 0.25s ease-in-out;
    &:hover {
        color: darken(#d9b034, 20%);
    }
}

.appointment .unconfirmed > a {
    color: #bd2130;
    transition: all 0.25s ease-in-out;
    &:hover {
        color:  darken(#bd2130, 10%);
    }
}

ul {
//   height: 100%;
//   padding: 0px 5px 0px 20px;
}

li {
    list-style: none;  
    > span {
        color: #aaacae !important;
        font-weight: 600 !important;
    }
    // > a {
    // color: #76bb85;
    // }
}

/* APPOINTMENT-CALENDAR-END */

/* APPOINTMENT-DETAILS */

.appointment-details {
	position: relative;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
    min-height: 30vh;
    > ul {
        list-style: none;
        padding: f.rem-calc(20);
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }
}

// .overlay {
// 	height: 100%;
// 	max-width: 100%;
// 	opacity: 0;
// 	transition: .5s ease-in-out;
// 	background-color: rgba(0, 0, 0, .6);
// 	margin: 0 auto;
// 	border: 2rem solid rgba(0, 0, 0, .6);
// 	border-radius: 1rem;
// }

// .overlay-text {
// 	color: #4b93da;
// 	font-size: 3.2rem;
// 	transform: translate(-50%, -50%);
// 	text-align: center;
// }

/* APPOINTMENT-DETAILS-END */
