// basket.scss

// To install sass: npm install -g sass
// To convert checkout.scss into checkout.css: sass --watch static/scss/basket.scss basket/static/basket/css/basket.css

// @use "modules/variables" as v;
@use "modules/functions" as f;
@use "modules/mixins" as m;
@use "modules/media_query_mixins" as q;


/* SHOPPING-BASKET */

.delivery-bg {
	background-color: rgba(0, 0, 0, 0.6);
    margin-top: f.rem-calc(60);
    padding: f.rem-calc(24);
    // @include q.respond-above(sm) {
	//     background-color: transparent;
    //     margin-top: f.rem-calc(80);
    // }
    // @include q.respond-above(md) {
    //     margin-top: f.rem-calc(104);
    // }
    span {
        color: #f9bf0c;
        font-size: f.rem-calc(16);
        font-weight: 600;
        text-shadow: 2px 2px 2px #000;
        // @include q.respond-above(sm) {
        //     font-size: f.rem-calc(28);
        // }
        // @include q.respond-above(md) {
        //     font-size: f.rem-calc(36);
        // }
    }
}

.basket {
    table {
        margin: 0 auto;
    }
    td {
        .item-quantity {
            margin-top: f.rem-calc(42);
        }
        img {
            border-radius: .25rem !important;
            width: 65px;
            // @include q.respond-above(md) {
            //     width: 79px;
            // }
            // @include q.respond-above(lg) {
            //     width: 100px;
            // }
            // @include q.respond-above(xl) {
            //     width: 150px;
            // }
        }
        .sku {
            font-size: f.rem-calc(8);
            // @include q.respond-above(md) {
            //     font-size: f.rem-calc(12);
            // }
        }
    }
    .item-quantity-form {
        padding: 5% 2%;
        // @include q.respond-above(lg) {
        //     padding: 15% 10%;
        // }
        // @include q.respond-above(xl) {
        //     padding: 20% 10%;
        // }
    }
    .delivery-message {
        margin-top: f.rem-calc(20);
    }
}

.basket-item-scroller {
    @include m.item-scroller($bg-color: true);
}

/* SHOPPING-BASKET-END */

/* SHOPPING-BASKET-FORM */

.update-form {
	background-color: none;
    padding: 0;
    .qty_input {
        height: 35px;
        padding: f.rem-calc(5);
        // @include q.respond-above(lg) {
        //     height: 50px;
        // }
    }
    .decrement-qty, .increment-qty {
        height: 80%;
        // @include q.respond-above(lg) {
        //     height: 100%;
        // }
    }
    .increment-qty, {
        border-top-right-radius: 4px !important;
        border-bottom-right-radius: 4px !important;
    }
}

.item-quantity-form {
    > .update-link, > .remove-item {
        cursor: pointer;
        position: relative;
        top: -20px;
    }
    > .remove-item {
        top: -17px;
    }
    // @include q.respond-above(lg) {
    //     > .update-link {
    //         top: -10px;
    //     }
    //     > .remove-item {
    //         top: -7px;
    //     }
    // }
}

/* SHOPPING-BASKET-FORM-END */

/* MEDIA-QUERIES */

// @include q.respond-above(xs) {

// }

@include q.respond-above(sm) {
    .delivery-bg {
	    background-color: transparent;
        margin-top: f.rem-calc(80);
        span {
            font-size: f.rem-calc(28);
        }
    }
}

@include q.respond-above(md) {
    .delivery-bg {
        margin-top: f.rem-calc(104);
        span {
            font-size: f.rem-calc(36);
        }
    }
    .basket td {
        img {
            width: 79px;
        }
        .sku {
            font-size: f.rem-calc(12);
        }
    }
}

@include q.respond-above(lg) {
    .basket {
        td img {
            width: 100px;
        }
        .item-quantity-form {
            padding: 15% 10%;
        }
    }
    .update-form {
        .qty_input {
            height: 50px;
        }
        .decrement-qty, .increment-qty {
            height: 100%;
        }
    }
    .item-quantity-form {
        > .update-link {
            top: -10px;
        }
        > .remove-item {
            top: -7px;
        }
    }
}

@include q.respond-above(xl) {
    .basket {
        td img {
            width: 150px;
        }
        .item-quantity-form {
            padding: 20% 10%;
        }
    }
}

/* MEDIA-QUERIES-END */
