// checkout.scss

// To install sass: npm install -g sass
//To convert checkout.scss into checkout.css: sass --watch static/scss/checkout.scss checkout/static/checkout/css/checkout.css

// @use "modules/variables" as v;
@use "modules/functions" as f;
// @use "modules/mixins" as m;
@use "modules/media_queries" as q;


/* CHECKOUT */

.checkout {
    padding: f.rem-calc(0 30);
}

.checkout-header {
    > h2 {
        color: #ffcd37;
        margin: f.rem-calc(20 0 20 0);
    }
}

.checkout-items, .checkout-form {
    h4 {
        color: #aaacae;
        font-size: f.rem-calc(16);
        margin-bottom: f.rem-calc(10);
    }
}

.checkout-items {
    @include q.respond-below(lg) {
        margin-bottom: f.rem-calc(30);
    }
}

.checkout-item-subheader {
    p {
        color: #ffcd37;
        font-size: f.rem-calc(16);
        margin: f.rem-calc(20 0);
    }
}

.checkout-item-scroller {
    background-color: #222;
    border-radius: 4px;
    margin-bottom: f.rem-calc(24);
}

.checkout-item {
    margin-bottom: f.rem-calc(10);
    p {
        color: #76bb85;
        font-size: f.rem-calc(12);
        margin-bottom: 5px;
    }
    .small {
        color: #aaacae;
    }
}

.checkout-summary {
    > p {
        color: #aaacae;
        font-size: f.rem-calc(20);
        text-align: right;
        > span {
            font-weight: 600;
            color: #c4c6c7;
        }
    }
}

.checkout-btns, .checkout-card-message {
    margin-bottom: f.rem-calc(20);
}

#payment-form {
    fieldset {
        &:nth-of-type(1), &:nth-of-type(2) {
            background-color: #222;
            border-radius: 4px;
            padding: f.rem-calc(20 40);
            .fieldset-label {
                position: relative;
                top: 20px;
            }
        }
        &:nth-of-type(2) {
            padding-bottom: f.rem-calc(0);
        }
        &:nth-of-type(3) {
            margin: f.rem-calc(10 0);
        }
    }
}

.fieldset-label {
    color: #ffcd37;
    font-size: f.rem-calc(16);
}

.form-check-label {
    color: #aaacae;
}

.form-check-input {
    margin-left: f.rem-calc(15);
}

.payment-form-check {
    margin: f.rem-calc(5 0 10);
    a  {
        font-size: f.rem-calc(12);
        & ~ span {
            color:#527d5b;
            font-size: f.rem-calc(12);
            padding-right: 4px;
        }
    }
}

.StripeElement, .stripe-style-input {
	background-color: #f7f4cb;
	border: 1px solid transparent;
	border-radius: 4px;
	box-sizing: border-box;
	margin-bottom: f.rem-calc(10);
	padding: f.rem-calc(8);
    width: 100%;
    &::placeholder {
        color: #495057;
    }
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
	color: #495057;
	background-color: #fff;
	border-color: #80bdff;
	outline: 0;
	box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
}

.StripeElement--webkit-autofill {
  background-color: #f7f4cb !important;
}

select, select option {
    color: #000;
}

select:invalid, select option[value=""] {
    color: #aab7c4 !important;
}

/* CHECKOUT-END */

.checkout-success {
    .order-confirmation {
        > p {
            margin-bottom: f.rem-calc(30);
        }
    }
    .inner-box {
        margin: f.rem-calc(10 0 40);
        padding: f.rem-calc(20);
    }
}

#loading-overlay {
	display: none;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(23, 162, 184, .85);
    z-index: 9999;
}

.loading-spinner {
	display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}