// checkout.scss

// To install sass: npm install -g sass
//To convert sass into css: sass --watch checkout/static/checkout/scss/checkout.scss checkout/static/checkout/css/checkout.css

// @use "../../../static/scss/modules/variables" as v;
@use "static/scss/modules/functions" as f;
// @use "../../../static/scss/modules/mixins" as m;
@use "/static/scss/modules/media_queries" as q;


/* CHECKOUT */

.checkout {
    padding: f.rem-calc(0 30);
    .checkout-header {
        > h2 {
            color: #ffcd37;
            margin: f.rem-calc(20 0 20 0);
        }
    }
    .checkout-items, .checkout-form {
        h4 {
            color: #aaacae;
            font-size: f.rem-calc(16);
            margin-bottom: f.rem-calc(10);
        }
    }
    .checkout-items {
        @include q.respond-below(lg) {
            margin-bottom: f.rem-calc(30);
        }
    }
    .checkout-item-subheader {
        p {
            color: #ffcd37;
            font-size: f.rem-calc(16);
            margin: f.rem-calc(20 0);
        }
    }
    .checkout-item-scroller {
        background-color: #222;
        border-radius: 4px;
        margin-bottom: f.rem-calc(24);
    }
    .checkout-item {
        margin-bottom: f.rem-calc(10);
        p {
            color: #76bb85;
            font-size: f.rem-calc(12);
            margin-bottom: 5px;
        }
        .small {
            color: #aaacae;
        }
    }
    .checkout-summary {
        > p {
            color: #aaacae;
            font-size: f.rem-calc(20);
            text-align: right;
            > span {
                font-weight: 600;
                color: #c4c6c7;
            }
        }
    }
    .checkout-btns, .checkout-card-message {
        margin-bottom: f.rem-calc(20);
    }
}

#payment-form {
    fieldset {
        &:nth-of-type(1), &:nth-of-type(2) {
            background-color: #222;
            border-radius: 4px;
            padding: f.rem-calc(20 40);
            .fieldset-label {
                position: relative;
                top: 20px;
            }
        }
        &:nth-of-type(2) {
            padding-bottom: f.rem-calc(0);
        }
        &:nth-of-type(3) {
            margin: f.rem-calc(10 0);
        }
    }
    .fieldset-label {
        color: #ffcd37;
        font-size: f.rem-calc(16);
    }
    .payment-form-check {
        margin: f.rem-calc(5 0 10);
        a  {
            font-size: f.rem-calc(12);
            & ~ span {
                color:#527d5b;
                font-size: f.rem-calc(12);
                padding-right: 4px;
            }
        }
    }
}

.StripeElement, .stripe-style-input {
	background-color: #f7f4cb;
	border: 1px solid transparent;
	border-radius: 4px;
	box-sizing: border-box;
	margin-bottom: f.rem-calc(10);
	padding: f.rem-calc(8);
    width: 100%;
    &::placeholder {
        color: #495057;
    }
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
	color: #495057;
	background-color: #fff;
	border-color: #80bdff;
	outline: 0;
	box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
}

.StripeElement--webkit-autofill {
  background-color: #f7f4cb !important;
}

/* CHECKOUT-END */