{% load static %}

<!--NAVBAR-->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'homeopathy' %}">Homeopathy</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">About</a>
            </li>    
            <li class="nav-item">
                <a class="nav-link" href="{% url 'contact' %}">Contact</a>
            </li>
        </ul>
        <!-- <ul class="list-inline list-unstyled text-center text-md-right my-0"> -->
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-sm"></i>Account</a>
                <div class="dropdown-menu" aria-labelledby="user-options">
                    {% if request.user.is_authenticated %}
                        {% if request.user.is_superuser %}
                            <a class="nav-link dropdown-item" href="">Product Management</a>
                        {% endif %}
                        <a class="nav-link dropdown-item" href="">My Profile</a>
                        <a class="nav-link dropdown-item" href="{% url 'account_logout' %}">Logout</a>
                    {% else %}
                        <a class="nav-link dropdown-item" href="{% url 'account_signup' %}">Register</a>
                        <a class="nav-link dropdown-item" href="{% url 'account_login' %}">Login</a>
                    {% endif %}
                </div>
            </li>
            <li class="nav-item">
                <!-- <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href=""> -->
                <a class="nav-link" href=""><i class="fas fa-shopping-bag fa-sm"></i>
                    <p class="shopping-cart">
                        {% if grand_total %}
                            ${{ grand_total|floatformat:2 }}
                        {% else %}
                            $0.00
                        {% endif %}
                    </p>
                </a>
            </li>
            <li class="nav-item search">
                <a class="nav-link" href=" url 'search' ">
                    <i class="fas fa-search fa-sm navbar-search-icon" title="Search"></i>
                     <!-- if page == "search" <span class="sr-only">(current)</span> endif  -->
                </a>
            </li>
        </ul>
    </div>  
</nav>
<!--NAVBAR-END-->

<!--LOGO-->
<div class="container logo-bg">
    <div class="row">
        <div class="col-12 logo">
            <img class="logo img-responsive" src="{% static 'img/logo.png' %}" alt="logo for elements of healing">
        </div>
    </div>
<div>
<!--LOGO-END-->
