// modules/_components.scss

@use "variables" as v;
@use "functions" as f;
// @use "mixins" as m;
@use "media_queries" as q;


/* NAVBAR */

.navbar {
	background-color: #2b532a !important
}

.navbar-nav:nth-of-type(2) {
    @include q.respond-above(sm) {
        position: absolute;
	    right: 0;
    }
}

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .show > .nav-link {
	color: #d9b034;
    font-weight: 400;
    padding: f.rem-calc(0 15 15 0);
    @include q.respond-above(sm) {
        padding: f.rem-calc(4);
    }
    @include q.respond-above(md) {
        padding: f.rem-calc(15);
    }}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
	color: #d96a28;
	transition: all .5s ease-in-out;
}

.nav-item:nth-of-type(1) {
	margin-top: 1.25rem;
}

.nav-item {
    &:nth-of-type(1) {
        margin-top: f.rem-calc(20);
    }
    @include q.respond-above(sm) {
        &:nth-of-type(1) {
            margin-top: f.rem-calc(0);
        }
    }
    > .nav-link {
        font-size: f.rem-calc(v.$link-font-size-xsmall);
        @include q.respond-above(md) {
            font-size: f.rem-calc(v.$link-font-size-small);
        }
        @include q.respond-above(lg) {
            font-size: f.rem-calc(v.$link-font-size-medium);
        }
        @include q.respond-above(xl) {
            font-size: f.rem-calc(v.$link-font-size-large);
        }
    }
}

.navbar.navbar-dark > .navbar-toggler {
	background-color: v.$hamburger-background-color;
	border: v.$hamburger-border-color solid 2px;
	font-size: f.rem-calc(20);
	padding: f.rem-calc(5 12);
	transition: all .25s ease-in-out;
}

.navbar.navbar-dark > .navbar-toggler:hover {
	background-color: v.$hamburger-background-color;
}

.navbar-expand-sm .navbar-nav .dropdown-menu {
	position: absolute;
	background-color: #2b532a;
}

.dropdown-menu {
	background-color: #2b532a;
	background-clip: padding-box;
	border: 0;
	color: #212529;
	margin: 0;
	min-width: 100px;
	padding: 0;
    @include q.respond-above(md) {
 	    min-width: 140px;   
        padding: f.rem-calc(0 6);
    }
}

.dropdown-item:focus,
.dropdown-item:hover {
	background-color: #2b532a;
}

.navbar-nav .dropdown > .dropdown-menu > .nav-link {
	padding: 0.8rem;
    text-align: left;
}

.navbar-nav .search .nav-link {
	padding: 0 !important;
}

/* NAVBAR-END */

/* CAROUSEL */

.carousel {
    position: relative;
}

.carousel-indicators {
    display: none;
    @include q.respond-above(sm) {
	    bottom: -15%;
        display: flex;
    }
}

.carousel-control-prev,
.carousel-control-next {
    display: none;
    @include q.respond-above(xs) {
        display: block;
        top: 50%;
    }
}

.carousel-control-prev {
	left: -40px;
}

.carousel-control-next {
	right: -50px;
}

/* CAROUSEL-END */

/* RESPONSIVE-CARDS */

#responsiveCardsTitle {
    color: v.$tertiary-header-color;
    text-align: center;
    margin-bottom: f.rem-calc(60);
}

#responsiveCards {
    .card {
        background-color: v.$card-bg-color;
        padding: f.rem-calc(5);
    }

    .card-img {
        margin-bottom: f.rem-calc(20);
    }

    .card-body {
        padding: f.rem-calc(20);
        height: 470px;
        @include q.respond-above(lg) {
            padding: f.rem-calc(30);
            height: 500px;
        }
        @include q.respond-above(xl) {
            height: 570px;
        }
    }

    .card-body > p {
        color: v.$card-font-color;
        font-size: f.rem-calc(14);
        @include q.respond-above(lg) {
            font-size: f.rem-calc(16);
        }
        @include q.respond-above(xl) {
            font-size: f.rem-calc(18);
        }
    }

    .card-body > p > strong{
        color: v.$card-strong-font-color;
    }
}

/* RESPONSIVE-CARDS-END */

/* FLOATING-BUTTON */

.btn-float {
	position: fixed;
}

.btn-fixed {
	position: relative;
}

.back-to-top {
	bottom: 24px;
	left: 24px;
	z-index: 1;
	cursor: pointer;
	color: v.$floating-button-color;
	opacity: 0;
	background-color: transparent;
	transition: all .25s ease-in-out;
}

#backToTop.active {
	pointer-events: auto;
	opacity: 0.9;
}

#backToTop.active:hover {
	pointer-events: auto;
	opacity: 1;
}

/* FLOATING-BUTTON-END */

/* FORM */

.form-control {
	height: 50px;
	color: #495057;
	background-color: #f7f4cb;
}

.form-group > label {
    color: v.$form-label-color;
    margin-bottom: f.rem-calc(12);
}

.btn {
    background-color: v.$form-btn-color;
    opacity: 0.9;
    font-weight: 600;
}

.btn:hover {
    opacity: 1;
    transition: all 0.25s ease-in-out;
}

/* FORM-END */

/* ALLAUTH-FORM */

.allauth-form-bg {
    > h1 {
        margin-bottom: f.rem-calc(24);
    }
    > p {
        text-align: justify;
        color: lighten(#527d5b, 25%);
        @include q.respond-above(sm) {
            color: lighten(#527d5b, 15%);
            text-align: center;
        }
    }
}

.allauth-form {
    label {
        color: #d0ac3d;        
    }
    input {
        background-color: #f7f4cb;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        color: #495057;
        margin-bottom: f.rem-calc(15);
        padding: f.rem-calc(10);
        height: 50px;
        width: 100%;
    }
    input[type="checkbox"] {
        margin-right: f.rem-calc(10);
        height: 0;
        width: 0;
    }
    .button.secondaryAction {
        font-size: f.rem-calc(15);
        display: block;
        margin-bottom: f.rem-calc(15);
    }
}

/* ALLAUTH-FORM-END */

/* FONT-AWESOME */

.fas {
    margin-right: f.rem-calc(8);
}

/* FONT-AWESOME-END */

/* SHOPPING-CART */

.shopping-cart {
	color: #527d5b;
	font-size: .9rem;
	display: inline;
}

/* SHOPPING-CART-END */

/* PRODUCTS */

.product-title {
    margin-bottom: f.rem-calc(50);
    text-align: center;
}

.product {
    .card {
        background-color: rgba(0, 0, 0, 0.6);
        border: none;
        margin-bottom: f.rem-calc(50);
        padding: f.rem-calc(15);
    }

    .card > a {
        margin: 0;
    }

    .card-body > p {
        color: #76bb85;
        font-size: f.rem-calc(18);
        padding: f.rem-calc(5);
        text-align: center;
        @include q.respond-above(sm) {
            font-size: f.rem-calc(16);
        }
        @include q.respond-above(md) {
            font-size: f.rem-calc(20);
        }
    }

    .card-footer {
        background-color: #2b532a;
        border-radius: f.rem-calc(2);
    }

    .product-price {
        color: #d0ac3d;
        text-align: center;
        padding: f.rem-calc(10);
        margin: 0;
    }

    .product-rating {
        color: #aaacae;
    }
}

/* PRODUCTS-END */

