// modules/_components.scss

@use "variables" as v;
@use "functions" as f;
// @use "mixins" as m;
@use "media_queries" as q;


/* NAVBAR */

.navbar {
	background-color: #2b532a !important
}

.secondary-navbar {
    @include q.respond-below(sm) {
        position: fixed;
        top: 52px;
        right: 0;
        .nav-item:nth-of-type(1) {
            margin: f.rem-calc(32 0 16);
        }
    }
}

.navbar-nav:nth-of-type(2) {
    @include q.respond-above(sm) {
        position: absolute;
	    right: 0;
    }
}

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .show > .nav-link {
	color: #d9b034;
    font-weight: 400;
    padding: f.rem-calc(0 15 15 0);
    @include q.respond-above(sm) {
        padding: f.rem-calc(4);
    }
    @include q.respond-above(md) {
        padding: f.rem-calc(15);
    }
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
	color: #d96a28;
	transition: all .5s ease-in-out;
}

.nav-item:nth-of-type(1) {
	margin-top: 1.25rem;
}

.nav-item {
    &:nth-of-type(1) {
        margin-top: f.rem-calc(20);
    }
    @include q.respond-above(sm) {
        &:nth-of-type(1) {
            margin-top: f.rem-calc(0);
        }
    }
    > .nav-link {
        font-size: f.rem-calc(v.$link-font-size-xsmall);
        @include q.respond-above(md) {
            font-size: f.rem-calc(v.$link-font-size-small);
        }
        @include q.respond-above(lg) {
            font-size: f.rem-calc(v.$link-font-size-medium);
        }
        @include q.respond-above(xl) {
            font-size: f.rem-calc(v.$link-font-size-large);
        }
    }
}

.navbar.navbar-dark > .navbar-toggler {
	background-color: v.$hamburger-background-color;
	border: v.$hamburger-border-color solid 2px;
	font-size: f.rem-calc(20);
	padding: f.rem-calc(5 12);
	transition: all .25s ease-in-out;
}

.navbar.navbar-dark > .navbar-toggler:hover {
	background-color: v.$hamburger-background-color;
}

.navbar-expand-sm .navbar-nav .dropdown-menu {
	position: absolute;
	background-color: #2b532a;
}

.dropdown-menu {
	background-color: #2b532a;
	background-clip: padding-box;
	border: 0;
	color: #212529;
	margin: 0;
	min-width: 100px;
	padding: 0;
    @include q.respond-above(md) {
 	    min-width: 140px;   
    }
}

.dropdown-item:focus,
.dropdown-item:hover {
	background-color: #2b532a;
}

.navbar-nav .dropdown > .dropdown-menu > .nav-link {
	padding: 0.8rem;
    text-align: left;
}

/* NAVBAR-END */

/* SEARCH-FORM */

.search-form .input-group {
	position: absolute;
	right: 60px;
    top: -38px;
	transition: all 0.25s ease-in-out;
    width: 150%;
    .form-control {
        height: 35px;
        width: 100%;
    }
    @include q.respond-above(sm) {
        right: 55px;
        top: 0;
        width: 100%;
        .form-control {
            height: 30px;
        }
    }
    @include q.respond-above(md) {
        right: 70px;
        top: 10px;
        .form-control {
            height: 35px;
        }
    }
    @include q.respond-above(lg) {
        right: 75px;
        top: 10px;
        .form-control {
            height: 40px;
        }
    }
}

.hide-search-form .input-group {
    display: none;
}

.show-search-form .input-group {
	display: inline-block;
}

@include q.respond-below(sm) {
    #searchFormButton {
        position: relative;
        left: 50px;
        top: -158px;
    }
}

/* SEARCH-FORM-END */

/* CAROUSEL */

.carousel {
    position: relative;
}

.carousel-indicators {
    display: none;
    @include q.respond-above(sm) {
	    bottom: -15%;
        display: flex;
    }
}

.carousel-control-prev,
.carousel-control-next {
    display: none;
    @include q.respond-above(xs) {
        display: block;
        top: 50%;
    }
}

.carousel-control-prev {
	left: -40px;
}

.carousel-control-next {
	right: -50px;
}

/* CAROUSEL-END */

/* RESPONSIVE-CARDS */

#responsiveCardsTitle {
    color: v.$tertiary-header-color;
    text-align: center;
    margin-bottom: f.rem-calc(60);
}

#responsiveCards {
    .card {
        background-color: v.$card-bg-color;
        padding: f.rem-calc(5);
    }

    .card-img {
        margin-bottom: f.rem-calc(20);
    }

    .card-body {
        padding: f.rem-calc(20);
        height: 470px;
        @include q.respond-above(lg) {
            padding: f.rem-calc(30);
            height: 500px;
        }
        @include q.respond-above(xl) {
            height: 570px;
        }
    }

    .card-body > p {
        color: v.$card-font-color;
        font-size: f.rem-calc(14);
        @include q.respond-above(lg) {
            font-size: f.rem-calc(16);
        }
        @include q.respond-above(xl) {
            font-size: f.rem-calc(18);
        }
    }

    .card-body > p > strong{
        color: v.$card-strong-font-color;
    }
}

/* RESPONSIVE-CARDS-END */

/* FLOATING-BUTTON */

.btn-float {
	position: fixed;
}

.btn-fixed {
	position: relative;
}

.back-to-top {
	bottom: 24px;
	left: 24px;
	z-index: 1;
	cursor: pointer;
	color: v.$floating-button-color;
	opacity: 0;
	background-color: transparent;
	transition: all .25s ease-in-out;
}

#backToTop.active {
	pointer-events: auto;
	opacity: 0.9;
}

#backToTop.active:hover {
	pointer-events: auto;
	opacity: 1;
}

/* FLOATING-BUTTON-END */

/* FORM */

.form-control {
	height: 50px;
	color: #495057;
	background-color: #f7f4cb;
}

.form-group > label {
    color: v.$form-label-color;
    margin-bottom: f.rem-calc(12);
}

.btn {
    background-color: v.$form-btn-color;
    opacity: 0.9;
    font-weight: 600;
}

.btn:hover {
    opacity: 1;
    transition: all 0.25s ease-in-out;
}

/* FORM-END */

/* ALLAUTH-FORM */

.allauth-form-bg {
    > h1 {
        margin-bottom: f.rem-calc(24);
    }
    > p {
        text-align: justify;
        color: lighten(#527d5b, 25%);
        @include q.respond-above(sm) {
            color: lighten(#527d5b, 15%);
            text-align: center;
        }
    }
}

.allauth-form {
    label {
        color: #d0ac3d;        
    }
    input {
        background-color: #f7f4cb;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        color: #495057;
        margin-bottom: f.rem-calc(15);
        padding: f.rem-calc(10);
        height: 50px;
        width: 100%;
    }
    input[type="checkbox"] {
        margin-right: f.rem-calc(10);
        height: 0;
        width: 0;
    }
    .button.secondaryAction {
        font-size: f.rem-calc(15);
        display: block;
        margin-bottom: f.rem-calc(15);
    }
}

/* ALLAUTH-FORM-END */

/* FONT-AWESOME */

.fas {
    margin-right: f.rem-calc(8);
}

/* FONT-AWESOME-END */

/* SHOPPING-CART */

.shopping-cart {
	color: #527d5b;
	font-size: .9rem;
	display: inline;
}

/* SHOPPING-CART-END */

/* PRODUCTS */

.product-title {
    margin-bottom: f.rem-calc(50);
    text-align: center;
}

.product {
    .card {
        background-color: rgba(0, 0, 0, 0.6);
        border: none;
        margin-bottom: f.rem-calc(50);
        padding: f.rem-calc(15);
        > a {
            margin: 0;
        }
    }

    .card-description {
        color: #76bb85;
        font-size: f.rem-calc(18);
        padding: f.rem-calc(5);
        text-align: center;
        @include q.respond-above(sm) {
            font-size: f.rem-calc(16);
        }
        @include q.respond-above(md) {
            font-size: f.rem-calc(20);
        }
    }

    .card-footer {
        background-color: #2b532a;
        border-radius: f.rem-calc(2);

    }

    .product-price {
        color: #d0ac3d;
        font-size: f.rem-calc(25);
        text-align: center;
        padding: f.rem-calc(10 0 15);
        margin: 0;
    }

    .product-rating, .product-category {
        color: #aaacae;
    }
}

.product-detail {
    .card {
        padding: f.rem-calc(24);
    }

    .card-body {
        padding: f.rem-calc(30 16 0);
        > .product-description {
            color: #76bb85;
            font-size: f.rem-calc(14);
            text-align: left;
        }
        @include q.respond-above(sm) {
            > .product-description {
                font-size: f.rem-calc(16);
                text-align: justify;
            }
        }
        @include q.respond-above(md) {
            > .product-description {
                font-size: f.rem-calc(18);
            }
        }
        .product-rating, .product-category {
            @include q.respond-above(sm) {
                padding: f.rem-calc(8 16 0);
            }
        }
    }
    .card-footer {
        background-color: transparent;
    }
}


.product-info {
    background-color: transparent;
    padding: 0;
    label {
        color: #76bb85;
        @include q.respond-above(md) {
            font-size: f.rem-calc(18);
        }
        @include q.respond-above(lg) {
            font-size: f.rem-calc(20);
        }
    }
    .btn {
        text-transform: uppercase;
        text-shadow: none;
        font-size: f.rem-calc(12);
        margin-bottom: f.rem-calc(10);
        @include q.respond-above(sm) {
            font-size: f.rem-calc(14);
        }
        @include q.respond-above(md) {
            font-size: f.rem-calc(16);
        }
    }
}

/* PRODUCTS-END */

/* SHOPPING-BASKET */

.delivery-bg {
	background-color: rgba(0, 0, 0, 0.6);
        margin-top: f.rem-calc(60);
        padding: f.rem-calc(24);
    @include q.respond-above(sm) {
	    background-color: transparent;
        margin-top: f.rem-calc(80);
    }
    @include q.respond-above(md) {
        margin-top: f.rem-calc(104);
    }
    span {
        color: #f9bf0c;
        font-size: f.rem-calc(16);
        font-weight: 600;
        text-shadow: 2px 2px 2px #000;
        @include q.respond-above(sm) {
            font-size: f.rem-calc(28);
        }
        @include q.respond-above(md) {
            font-size: f.rem-calc(36);
        }
    }
}

.basket {
	background-color: rgba(0, 0, 0, 0.6);
    border-radius: 4px;
    padding: f.rem-calc(20);
    th {
        color: #ffcd37;
        font-size: f.rem-calc(20);
        padding-bottom: f.rem-calc(20);
    }
    td {
        padding: f.rem-calc(0 40 30 0);
        > p {
            color: #76bb85;
        }
        .img-fluid {
            max-width: 90%;
        }
        .sku {
            color: #aaacae;
            font-size: f.rem-calc(12);
        }
    }
    .basket-info {
        p {
            color: #aaacae;
            text-align: right;
            > span {
                font-weight: 600;
                color: lighten(#aaacae, 10%);
            }
        }
    }
    .delivery-message {
        padding-top: f.rem-calc(30);
    }
    .btn {
        text-shadow: none;
    }
}

/* SHOPPING-BASKET-END */

/* SHOPPING-BASKET-FORM */

.update-form {
	background-color: none;
    padding: 0;
    .qty_input {
        padding: f.rem-calc(5);
    }
}

.basket {
    .update-link, .remove-item {
        cursor: pointer;
    }
}

/* SHOPPING-BASKET-FORM-END */

/* BOOTSTRAP-TOASTS */

.message-container-bg {
	position: fixed;
	background-color: rgba(0,0,0,.9);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    z-index: 3;
}

.message-container {
	position: fixed;
	top: 52%;
	left: 50%;
	transform: translate(-50%, -50%);
    z-index: 4;
}

.custom-toast {
    overflow: visible;
    max-width: 100%;
}

.toast-capper {
    height: 10px;
}

.toast-header,
.toast-body {
    border: none;
    color: #ffcd37;
    width: 550px;
}

.toast-header {
    background-color: lighten(#2b532a, 10%) !important;
    font-size: f.rem-calc(20);
    padding: f.rem-calc(10);
    > strong {
        margin-left: f.rem-calc(10); 
        margin-right: auto !important;
    }
    > .close > span {
        color: #fff;
        font-size: f.rem-calc(30);
        transition: all .25s ease-in-out;
        text-shadow: 2px 2px 2px #000;
        &:hover {
            color: #000;
        }

    }
}

.toast-body {
    background-color: #222;
    color: #ffcd37;
    font-size: f.rem-calc(20);
    padding: f.rem-calc(20 0);
    .toast-message {
        color: #c4c6c7;
	    margin-bottom: f.rem-calc(20);
        text-align: center;
    }
    .toast-summary-info {
	    padding: f.rem-calc(20 40);
        > p {
            color: #aaacae;
            font-size: f.rem-calc(20);
            margin-bottom: f.rem-calc(10);
            text-align: right;
            > span {
                color: #c4c6c7;
                font-weight: 600;
                font-size: inherit;
            }
        }
    }
    .toast-delivery-message {
        padding-bottom: f.rem-calc(20);
        > p {
            text-align: center;
        }
    }
    .toast-btns {
        padding-left: f.rem-calc(20);
    }
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
// .arrow-up {
//     width: 0; 
//     height: 0; 
//     border-left: 4px solid transparent;
//     border-right: 4px solid transparent; 
//     border-bottom: 10px solid black;
//     position: absolute;
//     top: -10px;
//     right: 36px;
// }

/* Convenience classes - colors copied from Bootstrap */
/* .arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
} */

.toast-notification-wrapper {
    background-color: rgba(0, 0, 0, 0.2);
    max-height: 45vh;
    overflow-x: hidden;
    overflow-y: auto;
    padding: f.rem-calc(30 40);
    .row {
        margin-bottom: f.rem-calc(20);
        .small {
            color: #76bb85;
        }
    }
    img {
        padding-right: f.rem-calc(20);
    }
}

/* BOOTSTRAP-TOASTS-END */
