// modules/_mixins.scss

@use "variables" as v;
@use "functions" as f;
@use "media_queries" as q;


@mixin poster($header:false, $border: false, $image: false) {
    @if $header {
        h2 {
            color: v.$tertiary-header-color;
            font-weight: 600px;
            margin-bottom: f.rem-calc(0);
            text-align: center;
        }
    }
    @if $image {
        > img {
            display: block;
            margin: 0 auto;
            padding: f.rem-calc(28);
            width: 100%;
        }
    }
    @include q.respond-above(sm) {
        background-color: v.$poster-bg-color;
        border-radius: f.rem-calc(6);
        @if $image {
            > img {
                padding: f.rem-calc(40);
                width: 100%;
            }
        }
        @if $border {
            border: f.rem-calc(8) solid v.$primary-border-color;
            box-shadow: f.rem-calc(5 5 20 2) #000;
            text-shadow: 2px 2px #000;
        }
    }

}

@mixin list-color($color-one, $color-two, $color-three, $color-four) {
    > ul > li {
        font-size: f.rem-calc(v.$list-font-size-xxsmall);
        font-weight: 600;
        list-style: none;
        margin-bottom: f.rem-calc(32);
        text-align: center;
        @include q.respond-above(xs) {
            font-size: f.rem-calc(v.$list-font-size-xsmall);
        }
        @include q.respond-above(sm) {
            font-size: f.rem-calc(v.$list-font-size-small);
        }
        @include q.respond-above(md) {
            font-size: f.rem-calc(v.$list-font-size-medium);
        }
        @include q.respond-above(lg) {
            font-size: f.rem-calc(v.$list-font-size-large);
        }
    }

    > ul > li:nth-of-type(1) {
        color: $color-one;
        margin-top: f.rem-calc(40)
    }

    > ul > li:nth-of-type(2) {
        color: $color-two;
    }

    > ul > li:nth-of-type(3) {
        color: $color-three;
    }

    > ul > li:nth-of-type(4) {
        color: $color-four;
        margin-bottom: 0;
    }
}